

body {width:900px; margin:0; padding:0;}


#gamearea {position:relative; width:200px; height:400px; float:left; margin:20px;padding:10px;}
#infoarea {position:relative; width:100px;float:left; }

#backpanel {position:absolute; z-index:0;}
#gamepanel {position:absolute; z-index:1;}

#nextshape-area {position:relative; width:80px; height:80px; margin:20px;}
#nextshape-panel {position:absolute;}


canvas:focus {outline:none;}

.clearfix {clear:both; content: ""; }
#debug {}
