

body {width:900px;}


#gamearea {position:relative; width:260px; height:490px; display:block; float:left; margin:20px;padding:10px;
            overflow:none;}

#infoarea {position:relative; width:260px; height:490px; }

#backpanel {position:absolute; z-index:0;display:block;}
#gamepanel {position:absolute; z-index:1;display:block;}


.clearfix {clear:both; content: ""; }
#debug {}
